.DS_Store
.object
.depend
*.o
*.d
.idea
cmake-build-debug
venv

School 21/Graphics/Scop/build/scop

School 21/Algorithms/ComputorV1/obj
School 21/Algorithms/ComputorV1/bin

Unity/Asteroids/Project/Library
Unity/Asteroids/Project/Temp

Unity/Cubic/Project/Library
Unity/Cubic/Project/Temp